{% extends 'layouts/base_layout.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">

                <div>
                    <h2>Contact</h2>
                </div>
                <div>
                    <div>
                        <h5>Message encouraging people to reach out.</h5>
                    </div>

                    <div class="mt-5">
                        <table class="table table-borderless contact">
                            <tr>
                                <td>Address:</td>
                                <td>
                                    123 Main St, <br>
                                    Richland, WA 99354
                                </td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td><a href="tel:(509) 555-1212">(509) 555-1212</a></td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td><a href="mailto:info@tw1ce.com">info@tw1ce.com</a></td>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>

        </div>
    </div>
{% endblock %}