{% extends 'layouts/base_layout.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">

                <div>
                    <h2>FAQ</h2>
                </div>
                <div>
                    <div>
                        <h5>Why is this the first question?</h5>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Euismod lacinia at quis risus sed vulputate odio ut.
                        Est ante in nibh mauris cursus mattis molestie a. Nec sagittis aliquam malesuada bibendum
                        arcu vitae elementum curabitur. Placerat in egestas erat imperdiet sed euismod nisi.
                        Etiam sit amet nisl purus. Gravida rutrum quisque non tellus orci ac auctor.
                        Non arcu risus quis varius quam quisque. Egestas sed sed risus pretium quam vulputate
                        dignissim suspendisse. At auctor urna niverra tellus in hac habitasse platea dictumst
                        vestibulum rhoncus est.
                    </p>
                </div>

                <div>
                    <div>
                        <h5>Why is this the first question?</h5>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Euismod lacinia at quis risus sed vulputate odio ut.
                        Est ante in nibh mauris cursus mattis molestie a. Nec sagittis aliquam malesuada bibendum
                        arcu vitae elementum curabitur. Placerat in egestas erat imperdiet sed euismod nisi.
                        Etiam sit amet nisl purus. Gravida rutrum quisque non tellus orci ac auctor.
                        Non arcu risus quis varius quam quisque. Egestas sed sed risus pretium quam vulputate
                        dignissim suspendisse. At auctor urna niverra tellus in hac habitasse platea dictumst
                        vestibulum rhoncus est.
                    </p>
                </div>
                <div>
                    <div>
                        <h5>Why is this the first question?</h5>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Euismod lacinia at quis risus sed vulputate odio ut.
                        Est ante in nibh mauris cursus mattis molestie a. Nec sagittis aliquam malesuada bibendum
                        arcu vitae elementum curabitur. Placerat in egestas erat imperdiet sed euismod nisi.
                        Etiam sit amet nisl purus. Gravida rutrum quisque non tellus orci ac auctor.
                        Non arcu risus quis varius quam quisque. Egestas sed sed risus pretium quam vulputate
                        dignissim suspendisse. At auctor urna niverra tellus in hac habitasse platea dictumst
                        vestibulum rhoncus est.
                    </p>
                </div>
                <div>
                    <div>
                        <h5>Why is this the first question?</h5>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Euismod lacinia at quis risus sed vulputate odio ut.
                        Est ante in nibh mauris cursus mattis molestie a. Nec sagittis aliquam malesuada bibendum
                        arcu vitae elementum curabitur. Placerat in egestas erat imperdiet sed euismod nisi.
                        Etiam sit amet nisl purus. Gravida rutrum quisque non tellus orci ac auctor.
                        Non arcu risus quis varius quam quisque. Egestas sed sed risus pretium quam vulputate
                        dignissim suspendisse. At auctor urna niverra tellus in hac habitasse platea dictumst
                        vestibulum rhoncus est.
                    </p>
                </div>


            </div>

        </div>
    </div>
{% endblock %}