{% extends 'layouts/base_layout.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">

                <div>
                    <h2>Welcome!</h2>
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Euismod lacinia at quis risus sed vulputate odio ut.
                        Est ante in nibh mauris cursus mattis molestie a. Nec sagittis aliquam malesuada bibendum
                        arcu vitae elementum curabitur. Placerat in egestas erat imperdiet sed euismod nisi.
                        Etiam sit amet nisl purus. Gravida rutrum quisque non tellus orci ac auctor.
                        Non arcu risus quis varius quam quisque. Egestas sed sed risus pretium quam vulputate
                        dignissim suspendisse. At auctor urna niverra tellus in hac habitasse platea dictumst
                        vestibulum rhoncus est.
                    </p>
                    <p>
                        Ultrices in iaculis nunc sed augue lacus viverra vitae congue. Eleifend quam adipiscing vitae
                        proin sagittis. Donec adipiscing tristique
                        risus nec feugiat in fermentum posuere. Egestas fringilla phasellus faucibus scelerisque
                        eleifend donec. Feugiat in fermentum
                        posuere urna nec. In hendrerit gravida rutrum quisque. Tristique senectus et netus et malesuada.
                        Orci dapibus ultrices in iaculis
                        nunc sed augue lacus. In mollis nunc sed id semper risus in. Scelerisque in dictum non
                        consectetur a erat nam at lectus. Nunc sed id
                        semper risus in hendrerit gravida rutrum. Placerat vestibulum lectus mauris ultrices eros in.
                    </p>
                    <p>
                        Convallis posuere morbi leo urna molestie at elementum eu facilisis. Lorem dolor sed viverra
                        ipsum. Dis parturient montes nascetur
                        ridiculus mus mauris vitae. Lobortis mattis aliquam faucibus purus in. Vitae auctor eu augue ut
                        lectus arcu bibendum at. Gravida arcu
                        ac tortor dignissim convallis aenean et. Tristique risus nec feugiat in fermentum posuere.
                        Fringilla urna porttitor rhoncus dolor purus
                        non enim praesent. Dignissim enim sit amet venenatis urna. Consectetur purus ut faucibus
                        pulvinar elementum integer enim. Blandit
                        turpis cursus in hac. Suspendisse interdum consectetur libero id faucibus nisl tincidunt. Neque
                        ornare aenean euismod elementum
                        nisi. Sodales ut etiam sit amet nisl purus in mollis nunc. Consequat mauris nunc congue nisi
                        vitae suscipit tellus mauris a. Hac
                        habitasse platea dictumst quisque sagittis purus sit. Pellentesque pulvinar pellentesque
                        habitant morbi tristique senectus. Amet justo
                        donec enim diam vulputate ut. Morbi tincidunt augue interdum velit euismod in pellentesque
                        massa.
                    </p>
                </div>

                <div>
                    <h3>Product</h3>
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Euismod lacinia at quis risus sed vulputate odio ut.
                        Est ante in nibh mauris cursus mattis molestie a. Nec sagittis aliquam malesuada bibendum
                        arcu vitae elementum curabitur. Placerat in egestas erat imperdiet sed euismod nisi.
                        Etiam sit amet nisl purus. Gravida rutrum quisque non tellus orci ac auctor.
                        Non arcu risus quis varius quam quisque. Egestas sed sed risus pretium quam vulputate
                        dignissim suspendisse. At auctor urna niverra tellus in hac habitasse platea dictumst
                        vestibulum rhoncus est.
                    </p>
                    <p>
                        Ultrices in iaculis nunc sed augue lacus viverra vitae congue. Eleifend quam adipiscing vitae
                        proin sagittis. Donec adipiscing tristique
                        risus nec feugiat in fermentum posuere. Egestas fringilla phasellus faucibus scelerisque
                        eleifend donec. Feugiat in fermentum
                        posuere urna nec. In hendrerit gravida rutrum quisque. Tristique senectus et netus et malesuada.
                        Orci dapibus ultrices in iaculis
                        nunc sed augue lacus. In mollis nunc sed id semper risus in. Scelerisque in dictum non
                        consectetur a erat nam at lectus. Nunc sed id
                        semper risus in hendrerit gravida rutrum. Placerat vestibulum lectus mauris ultrices eros in.
                    </p>
                    <p>
                        Convallis posuere morbi leo urna molestie at elementum eu facilisis. Lorem dolor sed viverra
                        ipsum. Dis parturient montes nascetur
                        ridiculus mus mauris vitae. Lobortis mattis aliquam faucibus purus in. Vitae auctor eu augue ut
                        lectus arcu bibendum at. Gravida arcu
                        ac tortor dignissim convallis aenean et. Tristique risus nec feugiat in fermentum posuere.
                        Fringilla urna porttitor rhoncus dolor purus
                        non enim praesent. Dignissim enim sit amet venenatis urna. Consectetur purus ut faucibus
                        pulvinar elementum integer enim. Blandit
                        turpis cursus in hac. Suspendisse interdum consectetur libero id faucibus nisl tincidunt. Neque
                        ornare aenean euismod elementum
                        nisi. Sodales ut etiam sit amet nisl purus in mollis nunc. Consequat mauris nunc congue nisi
                        vitae suscipit tellus mauris a. Hac
                        habitasse platea dictumst quisque sagittis purus sit. Pellentesque pulvinar pellentesque
                        habitant morbi tristique senectus. Amet justo
                        donec enim diam vulputate ut. Morbi tincidunt augue interdum velit euismod in pellentesque
                        massa.
                    </p>
                </div>

            </div>

        </div>
    </div>
{% endblock %}