{% extends 'layouts/base_layout.html' %}

{% block content %}
    <div class="container" >
    <div class="text-center">
                    <h6>A full-featured copy of the plateform, for free</h6>
                </div>

        <div class="row justify-content-center align-items-center mt-5" >
            <div class="col-md-6">

                <div>
                    <div class="alert alert-secondary small" role="alert">
                       Complete the form to start your free trial. Our team will be  in touch  to help you make  the most of your tial.
                    </div>
                </div>

                <div class="mt-5">
                    <form method="post" autocomplete="off" action="" class="">
                            {% csrf_token %}

                        <div class="row ">
                            <div class="col">
                                <label for="username" class="">First Name <sup>*</sup> </label>
                                <div class="">
                                    <input type="text" placeholder="Your first name" class="form-control" id="username"
                                           name="username" autocomplete="new-password">
                                </div>
                            </div>
                            <div class="col">
                                <label for="username" class="">Last Name <sup>*</sup> </label>
                                <div class="">
                                    <input type="text" placeholder="Your last name" class="form-control" id="username"
                                           name="username" autocomplete="new-password">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">

                            <div class="col">
                                <label for="username" class="">Email <sup>*</sup> </label>
                                <div class="">
                                    <input type="text" placeholder="Your email address" class="form-control" id="username"
                                           name="username" autocomplete="new-password">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                             <label for="username" class="">Your Role<sup>*</sup></label>
                            <div class="">
                                <select name="" id="" class="form-select">

                                    <option selected value="">Your job role</option>
                                    <option value="">Satate 3</option>
                                    <option value="">Satate 4</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <label for="username" class="">Company Name <sup>*</sup> </label>
                                <div class="">
                                    <input type="text" placeholder="Company Name" class="form-control" id="username"
                                           name="username" autocomplete="new-password">
                                </div>
                            </div>
                        </div>

                         <div class="row mt-3">
                             <label for="username" class="">Country/Region<sup>*</sup></label>
                            <div class="">
                                <select name="" id="" class="form-select">

                                    <option selected value="">Select Country/Region</option>

                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <label for="username" class="">Postal Code<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" placeholder="Your Postal Code" class="form-control" id="username"
                                           name="username" autocomplete="new-password">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <label for="username" class="">Username<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" placeholder="jane@company.sandbox" class="form-control" id="username"
                                           name="username" autocomplete="new-password">
                                    <span style="font-size: smaller; color: gray">
                                        Your email address must be in the form of an email address(it does not have to be real).
                                        It must be unique and cannot be associed with  another Salesforce login credential. <a class="text-decoration-none text-primary"
                                            href="">Read more about username  recommandations</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div>
                                    <div class="form-check">
                                        <input class="form-check-input" checked type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            I agree to the <a class="text-decoration-none text-primary" href="">Main Services Agreement - Developer Services</a> and
                                            <a class="text-decoration-none text-primary" href="">Salesforce Program Agreement.</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-4">

                            </div>
                            <div class="col-5 d-grid">
                                <button class="btn btn-dark" style="background: #0277bd; border: none">Sign Up</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}